<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    bootstrap="vendor/autoload.php"
    printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinterForPhpUnit9"
    colors="true"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="REQUEST_URI" value=""/>
    </php>
</phpunit>